body{
  background: #1e1f24;
  color: #333;
}

section{
  background-color: #e9ecef;
  border-radius: 4.8px;
  padding: 64px 32px 32px 32px;
  margin-bottom: 32px;
  font-size: 20px;
}

section p {
  line-height: 30px;
}
.hero {
  margin-top: 20px;
}
.hero p {
  font-size: 20px;
}
.img-hero{
  width: 80%;
  border-radius: 50%;
  -webkit-transform:rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.section-padding {
	padding: 10px 0;
}
.bottom {
    background-color: #e9ecef;
}
.bottom .copyright {
    color: #e5e5e5;
    font-weight: 600;
}
.copyright a {
    color: #2b80ee;
    margin-left: 3px;
    padding-right: 3px;
}
.bottom p {
    margin-bottom: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.copyright p span {
    color: #333;
}
.bottom .copyright p, .bottom .copyright a:hover{
    color: #6c6d83;
}